.ProductoCarrito {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.ImagenCarrito {
  max-width: 120px;
  margin-right: 20px;
  margin-left: 10%;
  margin-bottom: 2rem;
}

.InfoProducto {
  flex: 1;
}

.finalizarCompra,
.vaciar,
.eliminarproducto {
  font-size: 17px;
  font-family: Consolas;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  color: #000000;
}
.finalizarCompra:hover,
.vaciar:hover,
.eliminarproducto:hover {
  background-color: #676767;
}
